In [15]:
import sqlite3

con = sqlite3.connect('database.db')

with open('1_build_schema.sql', 'r') as f:
    con.executescript(f.read())

import pandas as pd

pd.read_sql(sql='select * from manufacturers', con=con)

In [16]:
import os

In [18]:
os.chdir('../')

In [21]:
sqls = [i for i in os.listdir() if 'SQL' in i]

In [26]:
for chapter in sqls:
    files = os.listdir(chapter)
    for i in files:
        if 'build' in i:
            con = sqlite3.connect(os.path.join(chapter, 'database.db'))

            with open(os.path.join(chapter, i), 'r') as f:
                con.executescript(f.read())
            con.close()

OperationalError: near "Provider": syntax error

In [27]:
chapter

'SQL_exercise_05'

In [28]:
sqls

['SQL_exercise_09',
 'SQL_exercise_07',
 'SQL_exercise_06',
 'SQL_exercise_01',
 'SQL_exercise_08',
 'SQL_exercise_10',
 'SQL_exercise_04',
 'SQL_exercise_03',
 'SQL_exercise_02',
 'SQL_exercise_05']