In [1]:
import pandas as pd

import sqlite3

con = sqlite3.connect('database.db')

In [5]:
pd.read_sql('select * from Department', con=con)

   DepartmentID              Name  Head
0             1  General Medicine     4
1             2           Surgery     7
2             3        Psychiatry     9