In [3]:
import pandas as pd

import sqlite3

con = sqlite3.connect('database.db')

In [9]:
cursor = con.cursor()

In [11]:
cursor.execute('show tables')

OperationalError: near "show": syntax error

In [12]:
pd.read_sql(sql='select * from Movies', con=con)

   Code                    Title Rating
0     1             Citizen Kane     PG
1     2      Singin' in the Rain      G
2     3         The Wizard of Oz      G
3     4            The Quiet Man   None
4     5       North by Northwest   None
5     6  The Last Tango in Paris  NC-17
6     7         Some Like it Hot  PG-13
7     8     A Night at the Opera   None